@media print {
    body * {
        visibility: hidden; /* Oculta todos os elementos */
    }
    pre, pre * {
        visibility: visible; /* Torna visível o conteúdo do 'pre' e seus filhos */
        font-weight: bold; /* Garante que as cifras fiquem em negrito */
    }
    pre {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        font-family: monospace; /* Estilo para manter o alinhamento das cifras */
    }
}