pre {
    line-height: 1.8; /* Aumenta o espaçamento entre as linhas */
}

b {
    color: orange;
    font-weight: bolder;
}

td.title-cell  {
    cursor: pointer;
    color: #007bff; /* Cor azul padrão de links no Bootstrap */
    text-decoration: none; /* Sem sublinhado por padrão */
  }
  
  .title-cell:hover {
    text-decoration: underline; /* Sublinha ao passar o mouse */
  }

/* Placeholders em itálico */
input::placeholder,
textarea::placeholder {
    font-style: italic;
}
  
