body {
    font-family: Arial, Helvetica, sans-serif;
    color: #ccc;
    background-color: #222;
    margin-left: 2rem;
}

h1 {
    margin: 0.5rem 0 0 0;
    font-size: 2rem;
}

a {
    color: #ccc;
}

pre {
    line-height: 1.8; /* Aumenta o espaçamento entre as linhas */
}

b {
    color: orange;
    font-weight: bold;
}
